/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Dave Armstrong
   ========================================================================== */

* {
margin: 0; padding: 0;
}

html {
	background: url(/images/bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

nav {
    background:#333;
    color:#fff !important;
}

nav ul {
    float:right;
    margin:0; padding:0;
    list-style-type:none;
}
nav ul li {
    display:inline; float:left;
}
nav ul li a {
    display:block; padding:10px 50px; color:#fff !important;
    font-weight: bold; text-decoration: none;
    border-left:1px solid #f1f1f1;
    
}
nav ul li a:hover {
    color:yellow !important;
}

#main {
    width:85%; margin: 0 auto;
    overflow:visible !important;
}

#logo_pane {
    padding:20px 10px 0 10px;
}

#logo {
    position: absolute;
    z-index:500!important;
}
#loc_info {
    background:#fff;
    color:#333;
    font-weight:bold;
    padding:20px;
    float:right;
    width:300px;
    text-align:center;
}

#applet {
    text-align:center;
    font-size:200%;
    font-style:italic;
}
#service_content {
    z-index:20; position: relative;
    min-height:500px;
    width:100%;
}


.service a {
    text-decoration:none !important;
}

.service a:hover h3, .service a:active h3 {
    color: #06e;
} 

.service a h3
{
    position:absolute; bottom:10px; left:10px;
    width:287px;
    padding:10px; margin:0;
    color:#fff;
    font-size:200%;
    font-family: 'Rock Salt', cursive;
    background:rgba(0, 0, 0, 0.5);
}

/* Styles the service box links */
.service {

    background:rgba(255, 255, 255, 0.75);
    color:#333;
    padding:10px; 
    margin:10px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}
.weight {
  position:absolute;
  top:15px; left:15px;
  color:#fff;
  font-weight:bold;
}

#loading_services {
    
    padding:200px 0;
    text-align: center;
    font-size:300%;
    font-weight:bold;
    color:#fff;
    
}

#service_load_error {
    
    padding:200px 0;
    text-align: center;
    font-size:300%;
    font-weight:bold;
    color:red;
    -webkit-text-stroke: 1px #fff;
}

footer {
    border-top:4px solid #fff;
    background:#4e5e2e;
    padding:20px;
    color:#fff;
    height:150px;
    
}

.simplemodal-wrap {

    overflow-y:scroll !important;
    overflow-x:hidden !important;
}


#info_details p {
    margin:10px 0;
}

/*
    http://webdesignerwall.com/tutorials/css3-gradient-buttons
*/

.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

/* green */
.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

#info_modal h1, #sub_page_container h1 {
    font-family: 'Rock Salt', cursive;
}

div#error {
    background:red;
    padding:20px;
    margin:10px auto;
    width:80%;
    color:#fff;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#sub_page_container h1 {
    margin-bottom: 20px;
    
}

#sub_page_container {
    
    background:rgba(255, 255, 255, 0.75);
    color:#333;
    padding:80px 20px; 
    margin:70px 10px 10px 10px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    
}

#sub_page_container p {
    margin:5px;
}

.cellRow {
    padding:5px;
    clear:both;
    position:relative; /* required for positioning of error messages */
}

.cellRow label {
    font-size:120%;
    display:block;
    width:130px; float:left;
    padding:3px; font-weight: bold;
}
.fulllength label {
    display:inline;
    float:none;
}

input.login {

    font-size:150%;
    color:#555;
    padding:3px 2px; 
    border:1px solid #ccc;
}
input.error {
    border:1px solid #fe545c;
}

input[type=submit]{
    -webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 0px 0px;
    background-color: #FA2;
    border-radius: 5px;
    border-bottom-color: #333;
    border: none;
    border-width: 0;
    box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 0px 0px;
    color: #333;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    padding: 4px 16px;
    text-shadow: #FE6 0px 1px 0px;    
}
input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus {
    background-color: #ffd822;
    cursor:pointer;
}

label.error {
    background:red;
    color:#fff;
    position:absolute;
    float:none;
    width:250px;
    padding:6px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    right:0px;
    top: 5px;
    font-weight:normal;
}

#message {
    background:green;
    padding:10px;
    color:#fff;
    font-weight:bold;
    font-size:110%;
}

.interest {
    float:left; width:25%;
    padding:10px;
}



/*
 * SimpleModal Basic Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: basic.css 257 2010-07-27 23:06:56Z emartin24 $
 */

#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#fff; cursor:wait;}

/* Container */
#simplemodal-container {
    height:360px; width:600px; color:#fff; background-color:#6992d5; border:4px solid #003366; padding:12px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#fff; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#fff;}
#simplemodal-container a.modalCloseImg {background:url(/images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#fff;}

/* isotope required csss */

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}







/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
